body {
  background-color: black;
  color: white;
  cursor: pointer;
}
.content_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.club {
  border: 1px solid green;
  cursor: pointer;
}
.title {
  text-align: center;
}
