body {
  background-color: black;
  color: white;
  cursor: pointer;
}
.content_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.club {
  border: 1px solid green;
  cursor: pointer;
}
.title {
  text-align: center;
}
#clubs_list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.club_card{
  border:2px solid green
}