body {
  background-color: rgb(0, 0, 0);
  font-family: "Raleway", sans-serif;
  /* background-image: radial-gradient(#9ac686 1%, #2b2b2b 90%); */
  background-repeat: no-repeat;
  /* background-image: linear-gradient(
    to bottom right,
    rgba(123, 221, 76, 0.2),
    rgba(43, 43, 43, 0.4)
  ); */
  height: 100vh;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  text-align: center;
  color: white;
  text-transform: capitalize;
  font-family: "Manrope", sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  color: rgb(189, 255, 158);
  text-transform: capitalize;
  font-family: "Manrope", sans-serif;
}
p {
  color: aliceblue;
}
h5 {
  font-size: 1rem;
}
/* Style the container for search results */
#searchResults {
  display: grid;
  grid-template-columns: 1fr;
  /* justify-content: center;
  align-items: center; */
  padding: 5%;
  gap: 1rem;
}

/* Style individual result items */
#searchResults div {
  /* padding: 5px; */

  border-radius: 2rem;
}
.card {
  border: #7bdd4c solid 1px;
  border:2px solid green;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: 1fr auto;
  border-radius: 2rem;
}
.card img{
  grid-column: 1/-1;
  border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}
.card .card-body{
  grid-column: 2/3;
}

@media screen and (min-width:760px) {
  #searchResults {
        grid-template-columns:repeat(2, 1fr);
    }
}
@media screen and (min-width:1100px) {
  #searchResults {
    grid-template-columns:repeat(3, 1fr);
}
}