body {
  background-color: rgb(43, 43, 43);
  font-family: "Raleway", sans-serif;
  /* background-image: radial-gradient(#9ac686 1%, #2b2b2b 90%); */
  background-repeat: no-repeat;
  background-image: linear-gradient(
    to bottom right,
    rgba(123, 221, 76, 0.2),
    rgba(43, 43, 43, 0.4)
  );
  height: 100vh;
}

h1 {
  text-align: center;
  color: white;
  text-transform: capitalize;
  font-family: "Manrope", sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  color: rgb(189, 255, 158);
  text-transform: capitalize;
  font-family: "Manrope", sans-serif;
}
p {
  color: aliceblue;
}
h5 {
  font-size: 1rem;
}
/* Style the container for search results */
#searchResults {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* justify-content: center;
  align-items: center; */
  padding: 5%;
  gap: 1rem;
}

/* Style individual result items */
#searchResults div {
  padding: 5px;

  border-radius: 10px;
}
.card {
  border: #7bdd4c solid 1px;
}
