body {
  background: #2b2b2b;
}
img {
  max-width: 100%;
  height: auto;
}
p {
  color: white;
}
.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100vh;
}
.field-wrap {
  display: flex;
  flex-flow: column nowrap;
}
.field-wrap input {
  border-radius: 10px;
  border: 1px solid #7bdd4c;
  background: #2b2b2b;
  padding: 10px 50px;
  color: white;
}
select {
  border-radius: 10px;
  border: 1px solid #7bdd4c;
  background: #2b2b2b;
  padding: 10px 77px;
  color: white;
}
label {
  color: white;
}
button {
  background: #7bdd4c;
  padding: 10px 62px;
  border-radius: 25px;
  border: none;
}
a {
  color: #7bdd4c;
}
.signuptitle {
  position: relative;
  /* background: url("../assests/images/signup.png") no-repeat; */
  /* background: url("../assests/images/signup.png") no-repeat; */
  /* background: url("../assests/images/signup2.jpeg") no-repeat; */

  background: url("https://img.freepik.com/ free-photo/sports-tools_53876-138077.jpg?t=st=1711562955~exp=1711566555~hmac=fc5f98e2e5beced0ca8f9edcbbfea1f6a20beb80b0fc0cf3a31b4332328e8509&w=1480") no-repeat;
  /* background: url("https://media.istockphoto.com/id/637332860/photo/multi-sports-proud-players-collage-on-grand-arena.jpg?s=1024x1024&w=is&k=20&c=g26Mxplo-KjOPZjgUOp0QKmPn5RBIkAcWx0vSCel6XM=") no-repeat; */
  background-size: cover;
  color: white; /* Set text color to white for better visibility */
}

.signuptitle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Overlay color */
  z-index: 0; /* Ensure the overlay is behind the content */
}

.signuptitle img {
  display: block;
  margin: 0 auto; /* Center the image horizontally */
  max-width: 100%; /* Ensure the image doesn't exceed the container width */
  padding-top: 20px; /* Adjust as needed */
  position: relative;
  z-index: 1; /* Ensure the image is above the overlay */
}

.signuptitle p,
.field-wrap,
button,
p {
  position: relative;
  z-index: 1; /* Ensure the content is above the overlay */
}

